<h1>Show Reward</h1>

<ul>

  <li>
    <strong>Recipient:</strong>
    <%= @reward.recipient_email %>
  </li>

  <li>
    <strong>Points:</strong>
    <%= @reward.points %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @reward.description %>
  </li>

</ul>

<span><%= link "Back", to: Routes.report_path(@conn, :index) %></span>
